* {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}


header {
	background-color: #303030;
	height: 45px;
}

nav {
	padding-top: 15px;
	padding-left: 185px;

} 

nav ul li {
	float: left;
	text-decoration-style: none;
	list-style: none;
	color: white;
	margin-right: 70px;
}

