* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

a{
	 text-decoration: none;
	 color: #ffffff;
}

a:hover {
	color: #B0B0B0;
}

header {
	background-color: #303030;
	height: 45px;
}

nav {
	padding-top: 15px;
	padding-left: 185px;

} 

nav a .logo {
	position: relative;
	float: left;
	height: 20px;
	width: 20px;
	margin-right: 70px;
	bottom: 3px;
}

.invert {
	-webkit-filter: invert(100%); 
	filter: invert(100%);
}

nav ul li {
	float: left;
	text-decoration-style: none;
	list-style: none;
	color: white;
	margin-right: 70px;
}

nav img {
	margin-right: 70px;
}

